.eventsPages {
  padding: 30px 100px;
  height: 200vh;
  background-color: #f5f7f9;
}
.eventsPages .events {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
}
.eventsPages .eventsAndSearch {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}
.eventsPages .eventsAndSearch .title h5 {
  font-size: 17.5px;
  font-weight: 500;
  text-decoration: none solid rgb(33, 37, 41);
  margin-bottom: 25px;
}
.eventsPages .eventsAndSearch .searchAndBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.eventsPages .eventsAndSearch .searchAndBtns .inputAndIcon {
  border: 1px solid rgb(212, 205, 205);
  padding: 10px;
}

.eventsPages .eventsAndSearch .searchAndBtns .inputAndIcon .searchIcon {
  color: rgb(162, 159, 159);
}
.eventsPages .eventsAndSearch .searchAndBtns .btns button {
  margin-right: 5px;
  padding: 10px;
  background-color: #6ac045;
  border: none;
  color: white;
  text-align: center;
}
.eventsPages .dataTables {
  margin-top: 0 !important;
}
